.offers {
    background-color: rgba(99, 184, 189, 0.651);

    &__wrapper {
        @include wrapper;

        @media (min-width: $screen-lg-min) {
            position: relative;
            display: flex;
            justify-content: space-around;
            padding-top: 100px;
        }
    }

    &__header {
        padding: 10px 0 15px;
        color: $dark-grey;
        text-align: center;

        @media (min-width: $screen-lg-min) {
            padding: 0;
            position: absolute;
            top: 4%;
            left: 50%;
            transform: translateX(-50%);
        }

        span {
            color: $blue;
        }

        @include section-header-responsiveFontSize;
    }

    &__content {
        background-color: $dark;
        color: $white;
        padding: 10px 20px;
        margin: 15px 0;

        @media (min-width: $screen-lg-min) {
            flex-basis: 28%;
            flex-wrap: wrap;
        }


        .content {
            &__title {
                padding: 15px 0;

                @media (min-width: $screen-lg-min) {
                    font-size: $desktop-medium;
                }
            }

            &__txt {
                padding: 5px 0;

                &--blue {
                    padding: 15px 0;
                    color: $blue;
                }
            }

            &__list {
                padding-left: 20px;
            }
        }
    }


}