// FONTS

$primary-font: 'Nunito',
sans-serif;

// FONT-SIZES

$mobile-big: 26px;

$desktop-huge: 71px;
$desktop-bigger: 47px;
$desktop-big: 37px;
$desktop-medium: 27px;

$medium: 20px;
$small: 16px;


// COLORS

$blue: #63B8BD;
$dark-grey: #2F3337;
$dark: #37464B;
$light-grey: #4B595D;
$lighter-grey: #E6E6E6;
$white: #fff;




// BREAKPONTS

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


// MIXINS

@mixin title-responsiveFontSize {
    font-size: $mobile-big;

    @media (min-width: $screen-md-min) {
        font-size: $desktop-medium;
    }

    @media (min-width: $screen-lg-min) {
        font-size: $desktop-big;
    }

    @media (min-width: $screen-xl-min) {
        font-size: $desktop-bigger;
    }
}


@mixin subtitle-reponsiveFontSize {
    font-size: $medium;

    @media (min-width: $screen-md-min) {
        font-size: $medium;
    }

    @media (min-width: $screen-lg-min) {
        font-size: $desktop-medium;
    }
}

@mixin para-responsiveFontSize {
    font-size: $small;

    @media (min-width: $screen-md-min) {
        font-size: $small;
    }

    @media (min-width: $screen-lg-min) {
        font-size: $medium;
    }
}

@mixin section-header-responsiveFontSize {
    font-size: $mobile-big;

    @media (min-width: $screen-md-min) {
        font-size: $desktop-big;
    }

    @media (min-width: $screen-lg-min) {
        font-size: $desktop-bigger;
    }

    @media (min-width: $screen-xl-min) {
        font-size: $desktop-bigger;
    }
}

@mixin wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;

    @media (min-width: $screen-sm-min) {
        padding: 100px 0;
    }

    @media (min-width: $screen-md-min) {
        padding: 30px 0;
    }
}

@mixin section-header {
    padding: 10px 0;
    color: $light-grey;

    @media (min-width: $screen-md-min) {
        padding: 0;
    }

    @include section-header-responsiveFontSize;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $primary-font;
}



@import 'header';
@import 'slider';
@import 'about';
@import 'offers';
@import 'parallax';