// FONTS

$primary-font: 'Nunito',
sans-serif;

// FONT-SIZES

$mobile-big: 26px;

$desktop-huge: 71px;
$desktop-bigger: 47px;
$desktop-big: 37px;
$desktop-medium: 27px;

$medium: 20px;
$small: 15px;


// COLORS

$blue: #63B8BD;
$dark-grey: #2F3337;
$dark: #37464B;
$light-grey: #4B595D;
$lighter-grey: #E6E6E6;




// BREAKPONTS

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $primary-font;
}



@import 'header';
@import 'slider';